@media (orientation: landscape) {
h1{
    color:aliceblue;
    font-size: 50px;;
    text-align: center;
    background-image: url(img/photography\ logo.png);
    text-shadow: 2px 2px black;
}

nav a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 8%;
    color: aliceblue;
    text-shadow: 1px 1px black;
}
u{
    color: aliceblue;
}
nav a:hover{
    color:rgb(43, 0, 255);
}
p{
    color: rgb(255, 255, 255);
    font-style: oblique;
    font-weight: 700;
    line-height: 1.5;
    word-spacing: 2px;
    padding: 10px;
}
body{
    background-image: url(img/subhadip.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
.pdf{
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:solid;
}
p a:hover{
    color: rgb(3, 3, 3);
}
}
@media screen and (max-width: 600px) {
    h1{
        text-align: center;
        font-size: x-large;
    }
    body{
        background-image: url(img/mobile\ version2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    nav{
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: rgb(0, 0, 0);
        padding: 2px;
    }
    nav a:hover{
        color:red;
    }
}